html {
	font-size: 16px;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	background: #000;
	color: white;
	font-size: 1.2em;
	user-select: none;
}

span, div, h1  {
	cursor: default;
}

#title {
	color: #ff7c00;
	font-weight: normal;
	margin: 0.1em;
	text-align: center;
}

.settingGroupTitle {
	margin-bottom: 1em;
	font-size: 0.7em;
}

.settingGroupHelpContainer {
	position: absolute;
	top: 16px;
	right: 16px;
}

.settingGroupHelpButton {
	background: #eee;
    color: #111111;
    padding: 8px;
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 1;
    border-radius: 100%;
    text-align: center;
}

.settingGroupHelp {
	border-radius: 4px;
	background: rgba(255, 255, 255, 0.95);
	color: #000000;
	display: none;
	position: absolute;
    right: -8px;
    top: -8px;
    z-index: 100;
	padding: 8px;
}

.settingGroupHelp .settingGroupHelpButton {
	float: right;
	background: #212121;
	color: #ffffff;
}

.settingGroupHelp strong {
    font-weight: 500;
}

.settingGroupHelp button {
	display: block;
	margin: 8px auto 0;
}

.settingGroup img {
	width: min(800px, 80vw);
	border-radius: 8px;
	margin: 4px;
}

.settingGroupHelpButton:hover {
	opacity: 0.8;
	cursor: pointer;
}

main {
	display: inline-block;
	width: 90%;
	max-width: 1000px;
	padding: 0 1.5em 0 1.5em;
	background: #181818;
	border-radius: 0.25em;
	text-align: left;
	border: 0.375em solid #181818;
}

.settingGroup {
	position: relative;
	margin-top: 1em;
	margin-bottom: 1em;
	background: #111111;
	padding: 0.75em 1.5em;
}

.setting {
	padding: 0.75em;
	overflow: hidden;
	border-bottom: 1px solid #303030;
}

.setting:last-of-type{
	border-bottom: 0;
}

.settingSpacer {
	height: 16px;
}

.right {
	float: right;
}

.left {
	float: left;
}

.subText {
	opacity: 0.8;
	font-size: 0.9em;
	margin: 16px;
	display: inline-block;
}

#useChromeWarning {
	text-align: center;
	margin: 8px;
	color: #b98b00;
}

#proPresenterVersionWarning {
	margin: 8px;
	color: #b98b00;
	display: none;
}

.nonElectron #useChromeWarning {
	display: block;
}

.onlyChromeSupportedHint {
	display: none;
}

.nonElectron .onlyChromeSupportedHint {
	display: inline;
	opacity: 0.7;
}

.warning {
	color: #b98b00;
}

.errorResult, #useChromeWarning.errorResult {
	color: #ff0000;
}

.successResult {
	color: #00ff00;
}

#proPresenterVersion, #remoteAppConnectionResult, #stageAppConnectionResult {
	display: inline-block;
	min-width: 240px
}

#doneButton {
	float: right;
}

select {
	float: right;
}

#stagemonitorSettingsContainer {
	display: flex;
	justify-content: space-between;
}

#stagemonitorSettings {
	flex-grow: 1;
}

#previewIframe {
	border: 0;
	flex-grow: 1;
	pointer-events: none;
	margin-left: 16px;
}

.disabled {
	opacity: 0.5;
}

input[type="text"], input[type="number"] {
	padding: 0.375em 0.75em;
}

textarea {
	resize: vertical;
}

a {
	color: #ffffff;
	text-decoration: underline;
}

a:hover {
	opacity: 0.85;
}
