#presentationContainer {
	overflow: hidden;
	transition: opacity 0.3s ease-in-out;
	position: relative;
	height: 100%;
	font-size: 5em;
}

#title {
	margin: 0 24px;
	padding-top: 8px;
	color: #ff7c00;
	font-weight: normal;
	font-size: 0.8em;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.group {
	margin: 8px auto 12px;
	color: #909090;
	border-width: 6px;
	border-style: solid;
	border-color: #555555;
	font-size: 1em;
	background: #000000;
}

.emptyGroup {
	visibility: hidden;
}

.groupName {
	display: block;
	text-align: left;
	margin-top: 4px;
	margin-left: 8px;
	left: 12px;
	color: #ffde3b;
	font-size: 0.5em;
	margin-bottom: -0.1em;
}

.group .imageContainer {
	text-align: center;
	height: 240px;
}

.group img {
	width: 100%;
	height: 100%;
	opacity: 0.25;
	object-fit: contain;
	object-position: center;
}

.currentGroup .currentSlide img {
	opacity: 1;
}

#presentationContainer.noText .currentSlide,
#presentationContainer.noText .group {
	border-width: 0;
}

.doNotShowDisabledSlides .slide.slideNotEnabled,
.doNotShowDisabledSlides .group.groupNotEnabled {
	visibility: hidden;
	height: 0;
	min-height: 0;
}

.slide.onlySlide {
	border-style: none;
	background: #000000;
}

.groupWithText .slide .text, .slide.biblePassage .text {
	padding: 8px 0;
}

.groupWithText, .slide.biblePassage {
	text-align: start;
}

.slide {
	border-left: 8px solid;
	border-right: 8px solid;
	border-color: #000000;
	padding: 8px 4px;
	min-height: 1em;
}

.groupWithText .slide .line, .slide.biblePassage .line {
	margin-top: 0.125em;
	margin-bottom: 0.125em;
}

.slide .line {
	/* Average space width is 0.25em http://jkorpela.fi/styles/spaces.html */
	margin-left: 0.125em;
	margin-right: 0.125em;
	display: block;
}

.slide .line:first-of-type,
.flexibleSlides .keepLinebreaks .line:first-of-type {
	display: inline-block;
}

.flexibleSlides .line {
	display: inline-block;
}

.flexibleSlides .keepLinebreaks .line {
	display: block;
}

.flexibleSlides .slide.biblePassage .line,
.flexibleSlides .slide .lineWithNumber,
.flexibleSlides .groupWithText .slide .line {
	display: block;
}

.lineNumber {
	color: #ffde3b;
	margin-right: 0.25em;
	font-size: 0.8em;
}

.currentGroup {
	color: #efefef;
}

.currentSlide {
	border-color: #ffffff;
	background: #111111;
}

.currentGroup .currentSlide {
	color: #ffffff;
}

.onlyGroupWithoutColor {
	border-width: 0;
	border-style: none;
}

.group:last-of-type {
	margin-bottom: 3em;
}

#connectionStatus {
	position: absolute;
	bottom: 0.5em;
	font-size: 0.5em;
	left: 50%;
	padding: 16px;
	transform: translate(-50%, 0);
	z-index: 50000;
	background: #000000;
}

#connectionStatus.success {
	color: #00ff00;
}

#slideNotes {
	z-index: 50;
	font-size: 5em;
	background: #303030; 	/* background should be same as for sidebar */
	color: #ffffff;
	padding: 8px;
	display: none;
	margin-right: 0;
}

.line.musicInfo {
	color: #ffde3b;
	white-space: pre;
}
