#sidebar {
	display: none;
	position: relative;
	height: 100%;
	flex: 1 1 auto;
	margin-right: 12px;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.showSidebarLeft #sidebar {
	display: flex;
}

.showSidebarBottom #sidebar {
	display: flex;
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 100;

	height: initial;
	flex-direction: row;
	overflow: hidden;
	justify-content: flex-start;
	margin-right: 0;
}

.showSidebarBottom.showSmallSlidePreview #sidebar,
	.showSidebarBottom.showPlaylist #sidebar {
	position: relative;
	background: #303030;
}

.showSidebarBottom #playlist {
	max-width: 30%;
	height: 100%;
}

.showSidebarLeft #sidebar > * {
	margin-top: 6px;
	margin-bottom: 6px;
	width: 100%;
}

.showSidebarBottom #sidebar > * {
	margin-left: 6px;
	margin-right: 6px;
	width: initial;
}

body:not(.showPlaylist).showSmallSlidePreview #preview,
body:not(.showPlaylist):not(.showSmallSlidePreview) #timerContainer {
	margin-left: 0;
	margin-top: 0;
}

.showSidebarBottom #sidebar > #clock, .showSidebarLeft #sidebar > #clock {
	margin-right: 0;
	margin-bottom: 0;
}

.showPlaylist #playlist {
	display: initial;
	margin-top: 0;
	margin-left: 0;
}

#playlist {
	display: none;
	text-align: left;
	flex-grow: 10000;
	overflow: hidden;
	order: -1;
	background: #111111;
}

#playlistName {
	display: none;
	text-align: center;
	margin-bottom: 4px;
	font-size: 1.75em;
}

.playlistItem {
	color: #909090;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
	padding: 4px;
	min-height: 1em;
	font-size: 2.5em;
}

.playlistItemIndex {
	font-size: 0.7em;
	margin-right: 0.25em;
}

.playlistHeader {
	font-size: 1.75em;
	text-align: center;
	margin-top: 16px;
	border: 2px solid;
}

.playlistHeader:first-of-type {
	margin-top: 0px;
}

.playlistCurrent {
	color: #ff7c00;
}

.showSmallSlidePreview #preview {
	display: initial;
}

.showSidebarBottom #preview {
	order: -1;
}

#preview {
	display: none;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	font-size: 2em;
}

#timerContainer {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	max-height: 100%;
	justify-content: flex-end;
	margin: 0;
}

.timer {
	font-size: 5em;
	padding: 0 0.2em;
}

.showSidebarBottom #timerContainer .timer {
	margin: 0 6px;
}

.showSidebarLeft #timerContainer .timer {
	margin: 6px 0;
	width: 100%;
}

.showSidebarLeft #timerContainer .timer:first-of-type {
	margin-top: 0;
}

.showSidebarBottom #timerContainer .timer:first-of-type {
	margin-left: 0;
}

.showSidebarBottom #timerContainer .timer:last-of-type {
	margin-right: 0;
}

.showSidebarLeft #timerContainer .timer:last-of-type {
	margin-bottom: 0;
}

#timerContainer:empty {
	display: none;
}

#sidebar .spacer {
	flex-grow: 1;
	margin: 0
}

#clock {
	background: #ffffff;
	color: #000000;
	font-size: 1em;
	padding: 0 1em;
	display: none;
}

.timerMode0 {
	background: #570b40;
}

.timerMode1 {
	background: #540808;
}

.timerMode2 {
	background: #545000;
}

.timerModeVideo {
	background: #53B6F9;
	color: #000000;
}

#clockHoursMinutes {
	font-size: 5em;
	padding-left: 0em;
	padding-right: 0.1em;
	background: inherit;
}

.clockWithoutSeconds #clockSeconds {
	display: none;
}

#clockSeconds {
	padding-left: 0.1em;
	padding-right: 0em;
	font-size: 3em;
	background: inherit;
}
