.switch {
	position: relative;
	display: inline-block;
	height: 1.4em;
	width: 2.45em;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.3s;
	border-radius: 1.5em;
}

.slider:before {
	position: absolute;
	content: "";
	height: 1.05em;
	width: 1.05em;
	left: 0.175em;
	bottom: 0.175em;
	background-color: white;
	transition: 0.3s;
	border-radius: 50%;
}

input:checked + .slider {
	background-color: #4497f8;
}

input:checked + .slider:before {
	transform: translateX(1.05em);
}

input[type="checkbox"]:disabled + .slider {
	cursor: default;
	opacity: 0.5;
}
