html {
	box-sizing: border-box;
	font-family: "Montserrat", 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #111111;
	color: #ffffff;
	margin: 0;
	font-size: 18px;
}

header {
	text-align: center;
	padding: 128px 16px;
	background-color: #4497f8;
	background-image: linear-gradient(to bottom right, #3478F6, #53B6F9);
}

#appName {
	font-size: 4em;
}

#appNameSubtitle {
	font-size: 2em;
	padding-bottom: 2em;
}

header button {
	margin: 16px;
}

p {
	line-height: 1.7;
}

.descriptionItem h1, .descriptionItem h2 {
	margin: 16px 0 12px;
}

.descriptionItem {
	margin: 8px auto;
	padding: 8px 16px;
	max-width: 1024px;
}

.descriptionItem .primaryContent, .descriptionItem .secondaryContent {
	margin: 12px 0 12px;
}

a {
	color: #ffffff;
	text-decoration: underline;
}

a:hover {
	opacity: 0.85;
}

a.button {
	padding-left: 16px;
	padding-right: 16px;
	height: 64px;
	color: #000000;
	background: #ffffff;
	display: flex;
    align-items: center;
	text-decoration: inherit;
}

#paypalLogo {
	height: 42px;
}

.actions {
	display: flex;
    justify-content: space-evenly;
	padding-left: 64px;
	padding-right: 64px;
	gap: 32px;
}

.buttonWrapper {
	display: inline-block;
	margin: 12px 0;
}

#downloadAppStore img {
	height: 64px;
}

#demoVideo {
	margin-top: -64px;
	padding: 2px;
	border: 2px solid black;
}

#setupVideo {
	margin-top: 24px;
}

video {
	background: #000000;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1024px;
	height: auto;
}

footer {
	margin-top: 64px;
	display: block;
	text-align: center;
	padding: 16px;
	color: #111111;
	background: #eeeeee;
}

footer a {
	color: #111111;
	text-decoration: underline;
}

@media (max-width: 800px) {
  	header {
		font-size: 0.7em;
		padding: 64px 16px 92px;
	}

	#startDemoWrapper {
		display: none;
	}
}

@media (max-width: 512px) {
  	header {
		font-size: 0.5em;
		padding: 32px 16px 64px;
	}

	.descriptionItem {
		margin: 8px 0 4px;
	}

	.descriptionItem h2 {
		margin: 8px 0 8px;
	}
}

@media (max-width: 400px) {
  	header {
		font-size: 0.4em;
	}
}
