#presentationContainer {
    overflow: hidden;
    transition: opacity 0.3s ease-in-out;
    position: relative;
    height: 100%;
    font-size: 5em;
}

@keyframes fadeInAnimation {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

#title {
    margin: 0;
    padding-top: 8px;
    color: #ff7c00;
    font-weight: normal;
    font-size: 0.8em;
}

.group {
    margin: 8px auto 12px;
    color: #909090;
    border-width: 6px;
    border-style: solid;
    border-color: #ffde3b;
    font-size: 1em;
    animation: fadeInAnimation 1s normal forwards;
    background: #000000;
}

.groupName {
    color: #ffde3b;
    text-align: left;
    font-size: 0.5em;
    margin-top: 4px;
    margin-left: 14px;
    display: block;
    left: 12px;
}

.emptyGroup {
    animation: none;
    opacity: 0;
}

.groupWithLongText {
    text-align: start;
}

.groupWithLongText .slide .text, .slide.biblePassage .text {
    padding: 8px 0;
}

.slide {
    border-left: 8px solid;
    border-right: 8px solid;
    border-color: #000000;
    padding: 8px 4px;
    min-height: 1em;
}

.groupWithLongText .slide .line, .slide.biblePassage .line {
    margin-top: 0.125em;
    margin-bottom: 0.125em;
}

.slide .line {
    /* Average space width is 0.25em http://jkorpela.fi/styles/spaces.html */
    margin-left: 0.125em;
    margin-right: 0.125em;
    display: block;
}

.slide .line:first-of-type {
    display: inline-block;
}

.flexibleSlides .line {
    display: inline-block;
}

.slide.biblePassage {
    text-align: start;
}

.bibleVerseNumber {
    color: #ffde3b;
    /* Average space width is 0.25em http://jkorpela.fi/styles/spaces.html */
    margin-right: 0.25em;
    font-size: 0.8em
}

.currentGroup {
    color: #ffffff;
}

.currentSlide {
    border-color: #ffffff;
    background: #111111;
}

.group:last-of-type {
    margin-bottom: 3em;
}
