#presentationContainer {
    position: relative;
    overflow: hidden;
    transition: opacity 0.5s;
}

@keyframes fadeInAnimation {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

#title {
    margin: 0;
    padding-top: 0.4em;
    padding-bottom: 0.1em;
    color: #ff7c00;
    font-weight: normal;
    font-size: 3em;
    z-index: 100;
}

#groupTemplate {
    display: none;
}


.group {
    margin: 0.25em auto 0.3em;
    border-radius: 0.08em;
    color: #909090;
    border-width: 0.1em;
    border-style: solid;
    border-color: #ffde3b;
    font-size: 4em;
    animation: fadeInAnimation 1s normal forwards;
}

.groupName {
    color: #ffde3b;
    text-align: left;
    font-size: 0.45em;
    margin-top: 0.075em;
    margin-left: 0.15em;
}

.emptyGroup {
    animation: none;
    opacity: 0;
}

.groupWithLongText {
    text-align: start;
}

.groupWithLongText .slide .text {
    padding: 8px 0;
}

.slide {
    border-left: 0.0625em solid;
    border-right: 0.0625em solid;
    border-color: #000000;
    padding: 0 0.125em;
    min-height: 1em;
}

.groupWithLongText .slide .line {
    /* Provided in em, because */
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.flexibleSlide {
}

.slide .line {
    /* Average space width is 0.25em http://jkorpela.fi/styles/spaces.html */
    margin-left: 0.125em;
    margin-right: 0.125em;
}

.slide.biblePassage {
    text-align: start
}

.bibleVerseNumber {
    color: #ffde3b;
    margin-right: 0.25em;
    font-size: 0.8em
}

.flexibleSlide .line {
    display: inline-block;
}

.currentGroup {
    color: #ffffff;
}

.currentSlide {
    border-color: #ffffff;
    background: #111111;
}

#bottomSpacer {
    height: 8em;
}

#message {
    position: sticky;
    bottom: 0;
}
