.radioLabel {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	user-select: none;
}

.radioLabel input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.radio {
	position: absolute;
	top: 0;
	left: 0;
	height: 1.1em;
	width: 1.1em;
	cursor: pointer;
	background-color: #eee;
	border-radius: 50%;
}

.radioLabel:hover input ~ .radio {
	background-color: #ccc;
}

.radioLabel input:checked ~ .radio {
	background-color: #2196F3;
}

.radio:after {
	content: "";
	position: absolute;
	display: none;
}

.radioLabel input:checked ~ .radio:after {
	display: block;
}

.radioLabel .radio:after {
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	border-radius: 50%;
	background: white;
}
