html {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    text-align: center;
    background: #000000;
    color: #ffffff;
    margin: 0;
    user-select: none;
    height: 100vh;
    display: flex;
}

span, div, h1 {
    cursor: default;
}

body:hover #settingsButton, body:hover #closeButton {
    display: inline;
}

#settingsButton, #closeButton {
    display: none;
    position: absolute;
    font-size: 2em;
    z-index: 100;
}

#settingsButton {
    top: 16px;
    left: 16px;
}

#closeButton {
    top: 16px;
    right: 16px;
}

#left {
    width: 380px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 0;
    flex-shrink: 0;
}

#presentationContainer {
    height: 100%;
    flex-grow: 1;
    padding: 0 8px;
}

#message {
    display: none;
    border-radius: 0.08em;
    color: #ffffff;
    border-width: 0.1em;
    border-style: solid;
    border-color: #cf008a;
    font-size: 4em;
    background: #000000;
    padding: 0 0.25em;
}

.timer {
}

#previewContainer {
    margin: 4px;
    font-size: 4em;
    position: relative;
    border: 4px solid #515151;
}

#videoTimer {
    font-size: 0.9em;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: #00000080;
    padding: 0 8px;
}

#preview {
    width: 100%;
    display: block;
}

#largePreview {
    position: absolute;
    top: 6em;
    margin: auto;
    width: 100%;
    max-height: calc(100% - 6em);
    object-fit: contain;
}

.timer {
    color: #ffffff;
    font-size: 4em;
    padding: 0 0.25em;
    margin: 4px;
    background: #212121;
}

#clock {
    font-size: 4em;
}

.timerMode0 {
    border-color: #00ff00;
}

.timerMode1 {
    border-color: #ffff00;
}

#clock {
    color: #ffffff;
    border-width: 4px;
    border-style: solid;
    border-color: #51ed82;
}

#timeHoursMinutes {
    font-size: 1.5em;
}

#timeSeconds {
}

#playlist {
    margin: 4px;
    text-align: left;
    flex-grow: 1;
    overflow: hidden;
    border: 4px solid #515151;
}

#playlistName {
    display: none;
    text-align: center;
    margin-bottom: 4px;
    font-size: 2em;
}

.playlistItem {
    display: block;
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px;
    min-height: 1em;
    background: #111111;
}

.playlistHeader {
    text-align: center;
    margin-top: 16px;
    background: #212121;
}

.playlistHeader:first-of-type {
    margin-top: 0px;
}

.playlistCurrent {
    background: #111111;
    color: #ff7c00;
}

#error {
    position: absolute;
    bottom: 100px;
    left: 10%;
    right: 10%;
    border-radius: 5px;
    border-width: 6px;
    border-style: solid;
    border-color: #ff0000;
    background: #000000;
    color: #ffffff;
}

#errorLabel {
    margin-left: 8px;
    text-align: left;
    font-size: 2em;
}

#errorMessage {
    font-size: 4em;
    margin: 8px;
}
