html {
	box-sizing: border-box;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	text-align: center;
	background: #000000;
	color: #ffffff;
	margin: 0;
	user-select: none;
	height: 100vh;
	display: flex;
}

body.showSidebarBottom{
	flex-direction: column-reverse;
}

span, div, h1 {
	cursor: default;
}

body:hover #settingsButton, body:hover #closeButton {
	display: inline;
}

body:hover #demoMode {
	opacity: 0.95;
}

#settingsButton, #closeButton {
	display: none;
	position: absolute;
	font-size: 2em;
	z-index: 99999999;
}

#settingsButton {
	top: 16px;
	left: 16px;
}

#closeButton {
	top: 16px;
	right: 16px;
}

main {
	min-width: 50%;
	height: 100%;
	flex-grow: 200;
	overflow: hidden;
	position: relative;
}

#message {
	display: none;
	position: absolute;
	bottom: 1.25em;
	left: 0;
	width: 100%;
	right: 0;
	color: #000000;
	font-size: 5em;
	background: #ffffff;
	opacity: 0.8;
	padding: 0 8px;
}

#error {
	position: absolute;
	bottom: 100px;
	left: 10%;
	right: 10%;
	border-width: 6px;
	border-style: solid;
	border-color: #ff0000;
	background: #000000;
	color: #ffffff;
	z-index: 999999;
}

#errorLabel {
	margin-left: 8px;
	text-align: left;
	font-size: 1.5em;
}

#errorMessage {
	font-size: 3em;
	margin: 8px;
}

#connectionStatus {
	position: absolute;
	bottom: 15%;
    left: 50%;
	font-size: 2em;
	padding: 16px;
	transform: translate(-50%, 0);
}

#connectionStatus.success {
	color: #00ff00;
}

#demoMode {
	position: absolute;
	bottom: 0;
    left: 50%;
	transform: translate(-50%, 0);
	padding: 16px;
	opacity: 0.8;
	background: #ff7c00;
	font-size: 2em;
}
