html {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    text-align: center;
    background: #000000;
    color: #ffffff;
    margin: 0;
    user-select: none;
    height: 100vh;
    display: flex;
}

body.showSidebarBottom{
    flex-direction: column-reverse;
}

span, div, h1 {
    cursor: default;
}

body:hover #settingsButton, body:hover #closeButton {
    display: inline;
}

#settingsButton, #closeButton {
    display: none;
    position: absolute;
    font-size: 2em;
    z-index: 100;
}

#settingsButton {
    top: 16px;
    left: 16px;
}

#closeButton {
    top: 16px;
    right: 16px;
}

main {
    min-width: 50%;
    height: 100%;
    flex-grow: 200;
    overflow: hidden;
    position: relative;
}

#message {
    display: none;
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    right: 5%;
    color: #000000;
    border: 6px solid #cf008a;
    font-size: 5em;
    background: #ffffff;
    padding: 0 8px;
}

#largePreview {
    display: block;
    position: absolute;
    top: 0;
    margin: 6em 6em auto auto;
    width: 100%;
    max-height: calc(100% - 12em);
    object-fit: contain;
    z-index: -2;
}

#error {
    position: absolute;
    bottom: 100px;
    left: 10%;
    right: 10%;
    border-width: 6px;
    border-style: solid;
    border-color: #ff0000;
    background: #000000;
    color: #ffffff;
    z-index: 999999;
}

#errorLabel {
    margin-left: 8px;
    text-align: left;
    font-size: 1.5em;
}

#errorMessage {
    font-size: 3em;
    margin: 8px;
}

#nextUpContainer {
    display: none;
    position: absolute;
    bottom: 4px;
    right: 0;
    padding: 4px 16px;
    z-index: -1;
    font-size: 3.5em;
    color: #994a00;
    background: #000000;
}

#nextUp {
}
